<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Firo ä¸­æ–‡ç¤¾åŒº</title>
    <meta name="description" content="é‡‘èžéšç§ç„•æ–°">
    <meta property="og:image" content="https://firo.org/img/meta/apple-touch-icon.png">
    <meta property="og:title" content="Firo ä¸­æ–‡ç¤¾åŒº">
    <meta property="og:site_name" content="Firo ä¸­æ–‡ç¤¾åŒº">
    <meta property="og:description" content="é‡‘èžéšç§ç„•æ–°">
    <meta name="twitter:title" content="Firo ä¸­æ–‡ç¤¾åŒº">
    <meta name="theme-color" content="#9b1c2e">
    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="https://firo.org/img/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://firo.org/img/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://firo.org/img/meta/favicon-16x16.png">
  </head>
  <body>
    <header>
      <a href="index.html" class="logo"><img src="<%= imgsURL %>/Firo logo dark.svg" alt="Firo" height="84"></a>
      <ul class="menu">
        <li><a href="community.html">ç¤¾åŒº</a></li>
      </ul>
    </header>
    <main>
      <article>
        <ul class="posts">
          <% posts.forEach(post => { %>
            <li>
              <div class="posts-date"><%= post.date %></div>
              <span><%= ({ video: 'ðŸ“º' })[post.properties.type || 'article'] %></span>
              <a href="<%= post.properties.url || post.filename.replace(/\.md$/, '.html') %>"><%= post.title %></a>
              <div class="posts-description"><%= post.properties.description %></div>
            </li>
          <% }) %>
        </ul>
      </artiel>
    </main>
  </body>
</html>
