<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Firo 中文 - 分享 Firo 动态</title>
    <meta name="description" content="Firo 是一种数字货币，专注于树立隐私标准。">
    <meta property="og:image" content="<%- siteURL + '/' + imgsURL + '/firocoin.png' %>">
    <meta property="og:title" content="Firo 中文">
    <meta property="og:site_name" content="Firo 中文">
    <meta property="og:description" content="Firo 是一种数字货币，专注于树立隐私标准。">
    <meta name="twitter:title" content="Firo 中文">
    <meta name="twitter:description" content="Firo 是一种数字货币，专注于树立隐私标准。">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="<%- siteURL + '/' + imgsURL + '/firocoin.png' %>">
    <%- include('head-common') %>
  </head>
  <body>
    <nav>
      <a href="index.html" class="logo">
        <%- include('logo-picture') %>
      </a>
      <ul class="menu">
        <li><a target="_blank" href="https://twitter.com/firo_cn">推特</a></li>
        <li><a target="_blank" href="https://t.me/firo_zh">电报</a></li>
        <li><a href="community.html">社区</a></li>
      </ul>
    </nav>
    <main>
      <article>
        <ul class="posts">
          <% posts.forEach(post => { %>
            <li>
              <div class="posts-date"><div class="posts-date-text"><%= post.date %></div></div>
              <div class="posts-body">
                <span><%= ({ video: '📺', forum: '💬' })[post.properties.type || 'article'] %></span>
                <a href="<%= post.properties.url || post.filename.replace(/\.md$/, '.html') %>"><%= post.title %></a>
                <div class="posts-description"><%= post.properties.description %></div>
              </div>
            </li>
          <% }) %>
        </ul>
      </article>
    </main>
    <script src="js/script.js"></script>
  </body>
</html>
