<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= post.title %>｜Firo 中文社区</title>
    <meta name="description" content="<%= post.properties.description %>">
    <meta property="og:image" content="<%= post.properties.img || 'https://firo.org/img/meta/apple-touch-icon.png' %>">
    <meta property="og:title" content="<%= post.title %>">
    <meta property="og:description" content="<%= post.properties.description %>">
    <meta name="twitter:title" content="<%= post.title %>">
    <meta name="theme-color" content="#9b1c2e">
    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="https://firo.org/img/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://firo.org/img/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://firo.org/img/meta/favicon-16x16.png">
    <base target="_blank" />
  </head>
  <body>
    <header>
      <a href="index.html" class="logo" target="_self"><img src="<%= imgsURL %>/Firo logo dark.svg" alt="Firo" height="84"></a>
      <ul class="menu">
        <% if (!post.filename.startsWith('community.')) { %>
          <li><a href="community.html" target="_self">社区</a></li>
        <% } %>
        <li><a href="index.html" target="_self">动态</a></li>
      </ul>
    </header>
    <main>
      <article>
        <% if (post.properties.title) { %>
          <header>
            <h1><%= post.properties.title %></h1>
            <% if (post.properties.summary) { %>
              <p><em><%= post.properties.summary %></em></p>
            <% } %>
            <p class="article-date"><%= post.dateLocale %></p>
          </header>
        <% } %>
        <%- post.html %>
      </article>
    </main>
  </body>
</html>
