<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= post.title %>｜Firo 中文社区</title>
    <meta name="description" content="<%= properties.description %>">
    <meta property="og:image" content="<%= properties.img || 'https://firo.org/img/meta/apple-touch-icon.png' %>">
    <meta property="og:title" content="<%= post.title %>">
    <meta property="og:description" content="<%= properties.description %>">
    <meta name="twitter:title" content="<%= post.title %>">
    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="https://firo.org/img/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://firo.org/img/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://firo.org/img/meta/favicon-16x16.png">
    <base target="_blank" />
  </head>
  <body>
    <header>
      <a href="index.html" class="logo" target="_self"><img src="<%= imgsURL %>/Firo logo dark.svg" alt="Firo" height="84"></a>
      <ul class="menu">
        <li><a href="community.html" target="_self">社区</a></li>
        <li><a href="index.html" target="_self">文章列表</a></li>
      </ul>
    </header>
    <main>
      <article>
        <%- content %>
      </article>
    </main>
  </body>
</html>
