<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= post.title %>｜Firo 中文社区 - 金融隐私焕新</title>
    <meta name="description" content="<%= post.properties.description %>">
    <meta property="og:image" content="<%= post.properties.img || 'https://firo.org/img/meta/apple-touch-icon.png' %>">
    <meta property="og:title" content="<%= post.title %>">
    <meta property="og:description" content="<%= post.properties.description %>">
    <meta name="twitter:title" content="<%= post.title %>">
    <meta name="twitter:description" content="<%= post.properties.description %>">
    <% if (post.img) { %>
      <meta name="twitter:card" content="summary_large_image">
    <% } else { %>
      <meta name="twitter:card" content="summary">
    <% } %>
    <meta name="twitter:image" content="<%= post.img || 'https://firo.org/img/meta/apple-touch-icon.png' %>">
    <%- include('head-common') %>
    <base target="_blank" />
  </head>
  <body>
    <nav>
      <a href="index.html" class="logo" target="_self">
        <%- include('logo-picture') %>
      </a>
      <ul class="menu">
        <% if (!post.filename.startsWith('community.')) { %>
          <li><a href="community.html" target="_self">社区</a></li>
        <% } %>
        <li><a href="index.html" target="_self">动态</a></li>
      </ul>
    </nav>
    <main>
      <article>
        <% if (post.properties.title) { %>
          <header>
            <h1><%= post.properties.title %></h1>
            <% if (post.properties.summary) { %>
              <p><em><%= post.properties.summary %></em></p>
            <% } %>
            <p class="article-header-bar">
              <%= post.dateLocale %>
              <% if (post.properties.author) { %>
                ｜
                <%= post.properties.author %>
              <% } %>
              <% if (post.properties.source) { %>
                ｜
                <a href="<%= post.properties.source %>">
                  <%= post.properties.type === 'video' ? '原视频' : '原文' %>
                </a>
              <% } %>
            </p>
          </header>
        <% } %>
        <%- post.html %>
        <% if (post.properties.iframe) { %>
          <noscript>需要浏览器启用 JavaScript</noscript>
          <p class="iframe-wrapper">
            <iframe onload="setTimeout(function () { document.querySelector('.iframe-wrapper').classList.add('loaded') }, 100)" src="<%= post.properties.iframe %>" importance="high" title="视频嵌入页面" frameborder="0" allowfullscreen scrolling="no" width="640" height="480"></iframe>
          </p>
        <% } %>
        <% if (post.properties.source && (!post.properties.type || post.properties.type === 'article')) { %>
          <footer><a href="<%= post.properties.source %>">原文</a></footer>
        <% } %>
      </article>
    </main>
    <script src="js/script.js"></script>
  </body>
</html>
