<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= post.title %>｜Firo 中文 - 分享 Firo 动态</title>
    <meta name="description" content="<%= post.properties.description %>">
    <meta property="og:image" content="<%- post.img || siteURL + '/' + imgsURL + '/firocoin.png' %>">
    <meta property="og:title" content="<%= post.title %>">
    <meta property="og:description" content="<%= post.properties.description %>">
    <meta name="twitter:title" content="<%= post.title %>">
    <meta name="twitter:description" content="<%= post.properties.description %>">
    <% if (post.img && post.properties.card !== 'summary') { %>
      <meta name="twitter:card" content="summary_large_image">
    <% } else { %>
      <meta name="twitter:card" content="summary">
    <% } %>
    <meta name="twitter:image" content="<%- post.img || siteURL + '/' + imgsURL + '/firocoin.png' %>">
    <%- include('head-common') %>
    <base target="_blank" />
  </head>
  <body>
    <nav>
      <a href="index.html" class="logo" target="_self">
        <%- include('logo-picture') %>
      </a>
      <ul class="menu">
        <li><a href="https://twitter.com/firo_cn">推特</a></li>
        <li><a href="https://t.me/firo_zh">电报</a></li>
        <% if (!post.filename.startsWith('community.')) { %>
          <li><a href="community.html" target="_self">社区</a></li>
        <% } else { %>
          <li><a href="index.html" target="_self">首页</a></li>
        <% } %>
      </ul>
    </nav>
    <main>
      <% if (post.properties.language) {%>
        <article lang="<%= post.properties.language %>">
      <% } else { %>
        <article>
      <% } %>
        <% if (post.properties.title) { %>
          <header>
            <h1><%= post.properties.title %></h1>
            <% if (post.properties.summary) { %>
              <p><em><%= post.properties.summary %></em></p>
            <% } %>
            <p class="article-header-bar">
              <%= post.dateLocale %>
              <% if (post.properties.author) { %>
                ｜
                <%= post.properties.author %>
              <% } %>
              <% if (post.properties.source) { %>
                ｜
                <a href="<%= post.properties.source %>">
                  <%= ({ video: '原视频', forum: '原文（进入论坛）' })[post.properties.type] || '原文' %>
                </a>
              <% } %>
              <% if (post.properties.hdurl) { %>
                ｜
                <a href="<%= post.properties.hdurl %>">微博观看</a>
              <% } %>
            </p>
          </header>
        <% } %>
        <%- post.html %>
        <% if (post.properties.iframe) { %>
          <noscript>需要浏览器启用 JavaScript</noscript>
          <p class="iframe-wrapper">
            <iframe onload="setTimeout(function () { document.querySelector('.iframe-wrapper').classList.add('loaded') }, 100)" src="<%= post.properties.iframe %>" importance="high" title="视频嵌入页面" frameborder="0" allowfullscreen scrolling="no" width="640" height="480"></iframe>
          </p>
        <% } %>
        <footer>
          <ul class="menu">
            <% if (post.properties.source && post.properties.type != 'video') { %>
              <li><a href="<%= post.properties.source %>"><%= post.properties.type === 'forum' ? '原文（进入论坛）' : '原文' %></a></li>
            <% } %>
            <li id="footer_home"><a target="_self" href="index.html">首页</a></li>
            <li><a href="https://twitter.com/firo_cn">推特</a></li>
            <li><a href="https://t.me/firo_zh">电报</a></li>
          </ul>
        </footer>
      </article>
    </main>
    <script src="js/script.js"></script>
  </body>
</html>
